.container {
    width: calc(100vw - 8px);
    height: calc(100vh - 133px);
    position: relative;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    opacity: 0.5;
    object-fit: cover;
}