<p-toolbar styleClass="shadow-2" [style]="{ 'background-image': 'linear-gradient(to right, var(--bluegray-100), var(--bluegray-300))' }">
    <ng-template pTemplate="start">
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
    </ng-template>
    <ng-template pTemplate="center">
        <h2>Sales System</h2>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <a (click)="logout()" rel="noopener noreferrer" class="p-button font-bold"><i class="pi pi-sign-out"></i></a>
        </div>
    </ng-template>
</p-toolbar>
<p-sidebar [(visible)]="sidebarVisible">
    <h3>Pages</h3>
    <p-menu [model]="menuItems"> </p-menu>
</p-sidebar>